*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(188, 218, 218);;
}
h1{
    font-size: 50px;
    margin-top: 60px;
}
table{
   width: 650px;
   height: 300px;
}
td{
    text-align: center;
    background-color: rgb(145, 175, 220);
}
th{
    background-color: rgb(165, 195, 290);
}